{% extends 'base/base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>            
            <td>ID Detalle Horas</td>
            <td>ID Nómina</td>
            <td>ID Horas Adicionales</td>
            <td>Total</td>
            <td>Cantidad</td>
            

            <td>
              <a class="btn btn-success" href="{% url 'detallehoras_crear' %}">
                Crear Registro Nuevo</a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for DetalleHoras in object_list  %}
        <tr>
            <td>{{ DetalleHoras.ID_DetalleHoras }}</td>
            <td>{{ DetalleHoras.ID_Nomina }}</td>
            <td>{{ DetalleHoras.ID_HorasAdicionales }}</td>
            <td>{{ DetalleHoras.Total }}</td>
            <td>{{ DetalleHoras.Cantidad }}</td>
            
            
            <td> 
                <a  class="btn btn-primary"  href="{% url 'detallehoras_editar' DetalleHoras.ID_DetalleHoras %}">
                Editar</a>                
            </td> 
        </tr>
        {% endfor  %}
        {% else  %}
        <h1>No hay registros en detalle de parafiscales.</h1>
        {% endif %}  
    <tbody>
</table>

 
<div class="dataTables_paginate paging_simple_numbers"
    id="datatable-buttons_paginate">
    <ul class="pagination">
        {%if page_obj.has_previous%}
        <li class="paginate_button page-item previous" id="datatable-buttons_previous">
            <a href="?page={{page_obj.previous_page_number}}" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
        </li>
        {%endif%}
        {%if page_obj.has_next%}
        <li class="paginate_button page-item next" id="datatable-buttons_next">
            <a href="?page={{page_obj.next_page_number}}" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0" class="page-link">Siguiente</a>
        </li>  
        {%endif%} 
</div>

{% endblock %}