{% extends 'base/base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>            
            <td>ID Paraficales</td>
            <td>Nombre</td> 
            <td>Valor</td> 
            <td>Estado</td>
            <td>Id Tipo Vinculacion</td>

            <td>
              <a class="btn btn-success" href="{% url 'parafiscales_crear' %}">
                Crear Registro Nuevo</a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for Parafiscales in object_list  %}
        <tr>
            <td>{{ Parafiscales.ID_PArafiscales }}</td>
            <td>{{ Parafiscales.Nombre }}</td>
            <td>{{ Parafiscales.Valor }}</td>           
            <td>{{ Parafiscales.Estado }}</td>
            <td>{{ Parafiscales.Id_TipoVinculacion }}</td>
            
            <td> 
                <a  class="btn btn-primary"  href="{% url 'parafiscales_editar' Parafiscales.ID_PArafiscales %}">
                Editar</a>                
            </td> 
        </tr>
        {% endfor  %}
        {% else  %}
        <h1>No hay registros de parafiscales.</h1>
        {% endif %}  
    <tbody>
</table>

 
<div class="dataTables_paginate paging_simple_numbers"
    id="datatable-buttons_paginate">
    <ul class="pagination">
        {%if page_obj.has_previous%}
        <li class="paginate_button page-item previous" id="datatable-buttons_previous">
            <a href="?page={{page_obj.previous_page_number}}" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
        </li>
        {%endif%}
        {%if page_obj.has_next%}
        <li class="paginate_button page-item next" id="datatable-buttons_next">
            <a href="?page={{page_obj.next_page_number}}" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0" class="page-link">Siguiente</a>
        </li>  
        {%endif%} 
</div>

{% endblock %}