{% extends 'base/base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>            
            <td>ID Empleado</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>Correo</td>
            <td>Telefono</td>
            <td>Tipo_Documento</td>            
            
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for empleado in object_list  %}
        <tr>
            <td>{{ empleado.ID_Empleado }}</td>
            <td>{{ empleado.Nombre }}</td>
            <td>{{ empleado.Apellido }}</td> 
            <td>{{ empleado.Correo }}</td>
            <td>{{ empleado.Telefono }}</td>
            <td>{{ empleado.Tipo_Documento }}</td>           
            <td> 
                <a  class="btn btn-primary"  href="{% url 'empleado_editar' empleado.ID_Empleado %}">
                Editar</a>
            </td> 
        </tr>
        {% endfor  %}
        {% else  %}
        <h1>No hay registro de empleados creados</h1>
        {% endif %} 
        <td> 
                <a  class="btn btn-primary"  href="{% url 'empleado_crear' %}">
                Crear nuevo registro</a>
        </td> 
    <tbody>
</table>

 
<div class="dataTables_paginate paging_simple_numbers"
    id="datatable-buttons_paginate">
    <ul class="pagination">
        {%if page_obj.has_previous%}
        <li class="paginate_button page-item previous" id="datatable-buttons_previous">
            <a href="?page={{page_obj.previous_page_number}}" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
        </li>
        {%endif%}
        {%if page_obj.has_next%}
        <li class="paginate_button page-item next" id="datatable-buttons_next">
            <a href="?page={{page_obj.next_page_number}}" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0" class="page-link">Siguiente</a>
        </li>  
        {%endif%} 
</div>

{% endblock %}